{% extends 'myapp/base.html' %}

{% block header %}

<div class="container" style="margin-top: 120px;">
    <h3>POST A TASK</h3>
    <hr>
    {% endblock %}

    {% block content %}
    <div id="main">
        <form action="/createProcess" method="POST">
            {% csrf_token %}
            <table class="table table-borderless">
                <tr>
                    <th scope="col" class="short-th">Title</th>
                    <td><input type="text" name="title" placeholder="Your least fav task?"></td>
                </tr>
                <tr>
                    <th scope="col" class="short-th">Description</th>
                    <td><textarea name="description" placeholder="Short details"></textarea></td>
                </tr>
                <tr>
                    <th scope="col" class="short-th">Location</th>
                    <td><input type="text" name="location" placeholder="City, State"></td>
                </tr>
            </table>
            <button class="btn btn-warning" type="submit">CREATE</button>
            <a href="/dashboard" class="btn btn-warning" role="button">BACK TO DASHBOARD</a>
        </form>
    </div>
    <!--main-->
</div>
<!--main container-->
{% endblock %}