{% extends 'myapp/base.html' %}

{% block content %}
<div id="main">
    <div class="container" style="margin-top:120px;">
        <h4>{{ user.first_name }}'s Pending Tasks</h4>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">TASK</th>
                    <th scope="col">DESCRIPTION</th>
                    <th scope="col">ACTION</th>
                </tr>
            </thead>
            <tbody>
                {% for w in my_work %}
                <tr>
                    <td>{{ w.title }}</td>
                    <td>{{ w.description }}</td>
                    <td>
                        <a href="/view/{{w.id}}" class="btn btn-warning btn-sm" role="button">VIEW</a>
                        <a href="/done/{{w.id}}" class="btn btn-warning btn-sm" role="button">DONE</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <h4>All Tasks</h4>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">TASK</th>
                    <th scope="col">LOCATION</th>
                    <th scope="col">POSTED BY</th>
                    <th scope="col">ACTION</th>
                </tr>
            </thead>

            <tbody>
                {% for other in other_jobs %}
                <tr>
                    <td>{{ other.title }}</td>
                    <td>{{ other.location }}</td>
                    <td>{{ other.poster.first_name }}</td>
                    <td>
                        <a href="/view/{{other.id}}" class="btn btn-warning btn-sm" role="button">VIEW</a>
                        <a href="/work/{{other.id}}" class="btn btn-warning btn-sm" role="button">ADD</a>
                    </td>
                </tr>
                {% endfor %}

                {% for my in my_jobs %}
                <tr>
                    <td>{{ my.title }}</td>
                    <td>{{ my.location }}</td>
                    <td>{{ my.poster.first_name }}</td>

                    <td>
                        <a href="/view/{{my.id}}" class="btn btn-warning btn-sm" role="button">VIEW</a>
                        <a href="/work/{{my.id}}" class="btn btn-warning btn-sm" role="button">ADD</a>
                        <a href="/update/{{my.id}}" class="btn btn-warning btn-sm" role="button">UPDATE</a>
                        <a href="/delete/{{my.id}}" class="btn btn-warning btn-sm" role="button">DELETE</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!--main container-->
</div>
<!--main-->
{% endblock %}