{% extends 'myapp/base.html' %}

{% block header %}
<div id="main">
    <div class="container" style="margin-top:120px;">
        <h2>UPDATE TASK</h2>
        <hr>
        {% endblock %}

        {% block content %}
        <form action="/updateProcess/{{job.id}}" method="POST">
            {% csrf_token %}
            <table class="table table-borderless">
                <tr>
                    <th scope="col" class="short-th">Title</th>
                    <td><input type="text" name="title" value="{{ job.title }}"></td>
                </tr>
                <tr>
                    <th scope="col" class="short-th">Description</th>
                    <td><input type="text" name="description" value="{{ job.description }}"></td>
                </tr>
                <tr>
                    <th scope="col" class="short-th">Location</th>
                    <td><input type="text" name="location" value="{{ job.location }}"></td>
                </tr>
                <tr>
                    <th scope="col" class="short-th">Posted By</th>
                    <td>{{ job.poster.first_name }} {{ job.poster.last_name }}</td>
                </tr>
                <tr>
                    <th scope="col" class="short-th">Posted On</th>
                    <td>{{ job.created_at }}</td>
                </tr>
                <tr>
                    <th scope="col" class="short-th">Last Updated</th>
                    <td>{{ job.updated_at }}</td>
                </tr>
            </table>

            <button class="btn btn-warning" type="submit">UPDATE</button>
            <a href="/dashboard" class="btn btn-warning" role="button">BACK TO DASHBOARD</a>
        </form>
    </div>
    <!--main container-->
</div>
<!--main-->
{% endblock %}