{% extends 'myapp/base.html' %}

{% block content %}
<div id="main">
    <div class="container" style="margin-top:120px;">
        <h2>TASK DETAILS</h2>

        <table class="table">
            <tr>
                <th class="short-th" scope="col">Title</th>
                <td>{{ job.title }}</td>
            </tr>
            <tr>
                <th class="short-th" scope="col">Description</th>
                <td>{{ job.description }}</td>
            </tr>
            <tr>
                <th class="short-th" scope="col">Location</th>
                <td>{{ job.location }}</td>
            </tr>
            <tr>
                <th class="short-th" scope="col">Posted By</th>
                <td>{{ job.poster.first_name }} {{ job.poster.last_name }}</td>
            </tr>
            <tr>
                <th class="short-th" scope="col">Posted On</th>
                <td>{{ job.created_at }}</td>
            </tr>
            <tr>
                <th class="short-th" scope="col">Last Updated</th>
                <td>{{ job.updated_at }}</td>
            </tr>
        </table>

        <a href="/work/{{job.id}}" class="btn btn-warning" role="button">ADD TO MY TASKS</a>
        <a href="/dashboard" class="btn btn-warning" role="button">BACK</a>
    </div>
    <!--main container-->
</div>
<!--main-->
{% endblock %}